

<div class="post-detailX">
  <div class="post-headerX">
  <div class="post-user-rowX">
    <a href="/profile?acode=<%= post.acode %>">
      <% if (post.authorPfpUrl) { %>
        <img src="<%= post.authorPfpUrl %>" alt="Author PFP" class="post-profile-picX" />
      <% } %>
    </a>

    <a href="/profile?acode=<%= post.acode %>" class="post-usernameX">
      <%= post.authorName %>
    </a>
  </div>
</div>



  <div class="post-bodyX">
    <p class="post-captionX"><%= post.caption %></p>

    <% post.images.forEach(imgUrl => {
         const filename = imgUrl.split('/').pop(); %>
      <img src="/media/image/<%= filename %>" class="post-imageX" alt="Post image" />
    <% }) %>

    <% post.tracks.forEach(trackUrl => {
         const filename = trackUrl.split('/').pop(); %>
      <audio controls class="post-audioX" src="/media/audio/<%= filename %>"></audio>
    <% }) %>

    <% post.videos.forEach(videoUrl => {
         const filename = videoUrl.split('/').pop(); %>
      <video controls class="post-videoX" src="/media/video/<%= filename %>"></video>
    <% }) %>
  </div>

  <div class="post-actionsX">
    <button class="post-like-btn" title="Like" data-post-id="<%= post.post_id %>">
      <i class="<%= post.likedByViewer ? 'fa-solid' : 'fa-regular' %> fa-heart"></i>
      <span class="like-count"><%= post.likeCount %></span>
    </button>

    

    <button class="post-share-btn" title="Share" data-post-id="<%= post.post_id %>">
      <i class="fa-solid fa-retweet"></i>
    </button>
  </div>

  <div class="timestampX">Posted <%= post.timeAgo %></div>

  <div class="comment-input-wrapper">
  <form id="commentForm" data-post-id="<%= post.post_id %>">

    <textarea
  id="commentInput"
  placeholder="Write a comment..."
  autocomplete="off"
  maxlength="1000"
  rows="1"
></textarea>

    <button type="submit">
      <i class="fa-regular fa-paper-plane"></i>
    </button>
  </form>
</div>


  <div class="post-commentsX">
  <% if (post.commentCount === 0) { %>
    <p class="no-commentsX">No comments yet.</p>
  <% } else { %>
    <p class="comment-countX"><%= post.commentCount %> comment<%= post.commentCount > 1 ? 's' : '' %></p>

    <% post.comments.forEach(comment => { %>
  <div class="comment-itemX">
    <div class="comment-headerX">
      <% if (comment.pfp_url) { %>
        <img src="<%= comment.pfp_url %>" alt="pfp" class="comment-pfp" />
      <% } %>
      <div class="comment-metaX">
        <span class="comment-usernameX"><%= comment.username %></span>
        <span class="comment-timeX">• <%= comment.timeAgo %></span>
      </div>
    </div>
    <p class="comment-textX"><%= comment.content %></p>
  </div>
<% }) %>

  <% } %>
</div>

</div>


